body {
    background-color: rgba(219, 58, 224, 0.452);
}
header {
    padding: 5%;
    text-align: center;
    color: ivory;
    background: url("/img/1Eq7Y.jpg") no-repeat center center fixed #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-weight: bolder;
    font-size: xx-large;
}
article {
    padding: 10%;
    padding-bottom: 12%;
    display: block;
    color: rgb(71, 67, 71);
}
h3{
    font-size: xx-large;
    font-weight: bolder;
    text-decoration: underline;
    color: rgb(66, 75, 83);
}
article {
    background-color: rgba(196, 123, 230, 0.712);
    padding: 10%;
    font-size: x-large;
}
ul {
    list-style-type: disc;
}
ol {
    list-style-type: decimal;
}
footer {
    text-align: center;
    color: ivory;
    background-color: rgba(190, 52, 167, 0.767);
}
